<h1>
  {{applicationTitle}}
</h1>
<ul *ngIf="techstacknames.length>0">
  <li *ngFor="let techname of techstacknames">
    {{techname}}
  </li>
</ul>
<br>
<br>
<h2 *ngIf="status">
  Hello {{ename}}, how are you?
</h2>
<br>
<br>
<span>Enter you Favourate Technology Name</span>
<input type="text" [(ngModel)]="favTechName">
<br>
<br>
<input type="button" value="AddTechName" (click)="AddTechName();">
<br>
<input type="button" value="Display" (click)="Greetings();">
<br>
<br>
<span>Enter you Name</span>
<input type="text" [(ngModel)]="ename">
<br>
<br>
<input type="button" value="Show" (click)="ShowContent();">
<br>
<br>
<button (click)="AddData('MEAN Stack')">
  Add another Tech Name
</button>

<table border="1">
  <tr *ngFor="let techname of techstacknames">
    <td> <b>{{techname}}</b> </td>
    <td>
      <button (click)="GetDetailsOfTech(techname)">
        {{techname}}
      </button>
    </td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <th>Enter Name</th>
    <th>
      <input type="text" [(ngModel)]="personObject.PersonName">
    </th>
  </tr>
  <tr>
    <th>Enter Age</th>
    <th>
      <input type="text" [(ngModel)]="personObject.PersonAge">
    </th>
  </tr>
  <tr>
    <td colspan="2">
      <button (click)="DisplayPersonData()">
        DisplayPersonData
      </button>
    </td>
  </tr>
</table>
<br>
<br>
<table *ngIf="allMyPeople.length>0">
  <tr>
    <th>
      name
    </th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let pElement of allMyPeople">
    <td>
    {{pElement.PersonName}}
    </td>
    <td>
      {{pElement.PersonAge}}
    </td>
    <td>
      <button (click)="loadInformation(pElement);">
        show info
      </button>
    </td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <td>
      <input type="text" [(ngModel)]="searchedPersonElement.PersonName" >
    </td>
    <td>
      <input type="text" [(ngModel)]="searchedPersonElement.PersonAge">
    </td>
  </tr>
</table>
<br>
<br>
<app-aboutus>  </app-aboutus>